@page "/cart"
@inject ICartClient CartClient
@inject IDialogService DialogService


<PageTitle>سبد خرید</PageTitle>

@if (_cart is null)
{
    <p>در حال بارگذاری...</p>
}
else if (!_cart.Items.Any())
{
    <MudText Typo="Typo.h5" Align="Align.Center" Class="my-7">سبد خرید شما خالی است.</MudText>
}
else
{
    <MudItem sm="12" lg="9" Class="mx-auto">
        <div class="mb-4">
            <MudText Typo="Typo.h5" Inline Class="pl-3 scondary-background rounded-lg">پرداخت</MudText>
        </div>

        <MudGrid>
            <MudItem xs="12" lg="8">
                <CartCard IsDisable="false" CartItems="_cart.Items" OnCartChanged="LoadCart"></CartCard>

                <MudStack Row AlignItems="AlignItems.Center" Justify="Justify.FlexEnd">

                    <MudButton OnClick="ClearCart" Variant="Variant.Outlined" StartIcon="@Icons.Material.TwoTone.Delete"
                               Class="rounded-lg border-color-gray-Lighten2">حذف سبد</MudButton>

                    <MudButton EndIcon="@Icons.Material.Rounded.ArrowBack" Class="rounded-lg"
                               Href="/checkout" Variant="Variant.Outlined" Color="Color.Primary">پرداخت</MudButton>
                </MudStack>
            </MudItem>
            <MudItem xs="12" lg="4">

                <MudPaper Outlined Class="rounded-xl pa-4">
                    <div>
                        <MudText Inline Typo="Typo.h5" Class="primary-background pl-3 rounded-lg">مشخصات سفارش</MudText>
                    </div>
                    <MudDivider Class="my-3" />
                    <MudStack Row Justify="Justify.SpaceBetween" AlignItems="AlignItems.Center">
                        <MudText Typo="Typo.body2">مجموعه کالاها:</MudText>
                        <MudText Typo="Typo.body1">@_cart.TotalPrice.ToNumeric().En2Fa()</MudText>
                    </MudStack>
                    <MudStack Row Justify="Justify.SpaceBetween" AlignItems="AlignItems.Center">
                        <MudText Typo="Typo.body2">هزینه ارسال:</MudText>
                        <MudText Typo="Typo.body1">۳۰,۰۰۰</MudText>
                    </MudStack>
                    <MudStack Row Justify="Justify.SpaceBetween" AlignItems="AlignItems.Center">
                        <MudText Typo="Typo.body2">تخفیف:</MudText>
                        <MudText Typo="Typo.body1">۰</MudText>
                    </MudStack>
                    <MudDivider Class="my-3" />
                    <MudStack Row Justify="Justify.SpaceBetween" AlignItems="AlignItems.Center">
                        <MudText Typo="Typo.body1">مبلغ کل:</MudText>
                        <MudText Typo="Typo.h5" Class="primary-background pr-3 rounded-lg">@_cart.TotalPrice.ToNumeric().En2Fa()</MudText>
                    </MudStack>
                </MudPaper>

            </MudItem>
        </MudGrid>
    </MudItem>
}



@code {
    private CartDto? _cart;


    protected override async Task OnInitializedAsync()
    {
        await LoadCart();
    }


    private async Task LoadCart()
    {
        _cart = await CartClient.GetCartAsync();
        StateHasChanged();
    }

    private async Task ClearCart()
    {
        await CartClient.ClearAsync();
        _cart = await CartClient.GetCartAsync();
        StateHasChanged();
    }
}