<MudPaper Outlined Class="rounded-xl pa-4">
    <div>
        <MudText Inline Typo="Typo.h5" Class="primary-background pl-3 rounded-lg">مشخصات سفارش</MudText>
    </div>
    <MudDivider Class="my-3" />
    <MudStack Row Justify="Justify.SpaceBetween" AlignItems="AlignItems.Center">
        <MudText Typo="Typo.body2">مجموعه کالاها:</MudText>
        <MudText Typo="Typo.body1">@Model.TotalWithoutDiscount.ToNumeric().En2Fa()</MudText>
    </MudStack>
    <MudStack Row Justify="Justify.SpaceBetween" AlignItems="AlignItems.Center">
        <MudText Typo="Typo.body2">هزینه ارسال:</MudText>
        <MudText Typo="Typo.body1">@Model.ShippingCost.ToNumeric().En2Fa()</MudText>
    </MudStack>
    <MudStack Row Justify="Justify.SpaceBetween" AlignItems="AlignItems.Center">
        <MudText Typo="Typo.body2">تخفیف:</MudText>
        <MudText Typo="Typo.body1">@Model.TotalDiscount.ToNumeric().En2Fa()</MudText>
    </MudStack>
    <MudDivider Class="my-3" />
    <MudStack Row Justify="Justify.SpaceBetween" AlignItems="AlignItems.Center">
        <MudText Typo="Typo.body1">مبلغ کل:</MudText>
        <MudText Typo="Typo.h5" Class="primary-background pr-3 rounded-lg">@Model.TotalAmount.ToNumeric().En2Fa()</MudText>
    </MudStack>
</MudPaper>


    @code{
        [Parameter]
        public OrderSummaryModel Model { get; set; } = new();
    }